<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This is search page </p>
    
     <% booksList.forEach(item =>{ %>
         <div>
             <img src=  <%= item.imgURL %>  alt= <%= item.title %>>
             <h4> Author: <%= item.author %> </h4>
             <h5> Title: <%= item.title %></h5>
             <p> Description : <%= item.description %></p>
         </div>
     <% }) %>

</body>
</html>