<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head')%>

  <body>
    <header>
      <h2> COUNT : <%= total %>
      </h2>
    </header>
    <main>
      <% data.forEach(item=>{ %>
        <article class="book">
          <img src=<%=item.image_url %> alt= <%= item.title %>>
            <h5>
              <%= item.title %>
            </h5>
            <h4 class="">
              <%= item.author %>
            </h4>
            <button> <a href="/books/ <%= item.id %>"> View Details
              </a></button>
        </article>
        <% }) %>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</html>