<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/base.css">
</head>

<body>
  <header>
    <h2> COUNT : <%= total %>
    </h2>
  </header>
  <main>
    <% data.forEach(item=>{ %>
      <article class="book">
        <img src=<%=item.image_url %> alt= <%= item.title %>>
          <h5> Book Title: <%= item.title %>
          </h5>
          <h4 class=""> Author Name: <%= item.author %>
          </h4>
          <p> Description : <%= item.description %>
          </p>
          <h3>
            isbn: <%= item.isbn %>
          </h3>
          <%- console.log(item.id)%>
          <button> <a href="/books/ <%= item.id %>"> View Details
            </a></button>
      </article>
      <% }) %>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</html>